#Local History App's cache
.history


#.DS_Store file
.DS_Store

#Node modules
node_modules

#Eclipse workspace folders
.antsetup
.metadata
.recommenders

# Class files
**/classes/**/*.class

# IntelliJ files
**/.idea/
