/* No grouping */
.message {
    color: black;
    border: 1px solid grey;
    margin: 2px;
}

.info {
    color: blue;
    border: 1px solid grey;
    margin: 2px;
}

.warning {
    color: yellow;
    border: 1px solid grey;
    margin: 2px;
}


/* With grouping, amount of code can be minimized */
.message, .info, .warning {
    color: black;
    border: 1px solid grey;
    margin: 2px;
}

.info {
    color: blue;
}

.warning {
    color: yellow;
}
