// Excluding end index
@for $i from 1 to 6 {
	.animation-item:nth-child(#{$i}) {
		animation-delay: ($i - 1) * 0.1;
	}
}

// Including end index
$start: 1;
$end: 6;
@for $i from $start through $end {
	.border-type#{$i} {
		border: 1px solid hsl($i * 30, 75%, 75%);
	}
}

// Using variables and functions
$font-sizes-list: (30px, 22px, 16px, 10px);
@for $i from 1 through min(length($font-sizes-list), 6) {
	h#{$i} {
		font-size: nth($list: $font-sizes-list, $n: $i);
	}
}
